/*=========================RESET CSS=============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====================================================================*/

@font-face {
	font-family: 'Roboto';
	src: url(fonts/Roboto/Roboto-Italic.ttf);
}
body {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow-y: scroll;
    max-width: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
}

#reg_form {
	max-width: 80%;
	max-height: 100%;
    position: absolute; 
    top: 40%;
    left: 50%;
    width: 80%;
    height: 35%;
    margin: -10% 0 0 -40%;
    text-align: center;
}
input {
	position: relative;
	background: transparent;
	border: 3px solid;
	color: beige;
	max-width: 100%;
	width: 70%;
	font-size: 120%;
	font-family: 'Roboto';
	margin-top: 1%;
	margin-bottom: 1%;
	min-height: 2%;
}
p {
	color: beige;
	font-family: 'Roboto';
	font-size: 200%;
	text-align:left;
	margin-left: 15%;
}
form {
	border: 5px solid #e55252;
	padding: 2%;
}

td div.rlower {
	z-index: -5;
	background: black;
	opacity: 0.5;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

