/*=========================RESET CSS=============================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*====================================================================*/

@font-face {
	font-family: 'Roboto';
	src: url(fonts/Roboto/Roboto-Italic.ttf);
}

body {
	background: url(images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow-y: scroll;
	max-width: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: antiquewhite;
}

#reg_form {
	max-width: 80%;
	max-height: 100%;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 80%;
	height: 35%;
	margin: -10% 0 0 -40%;
	text-align: center;
}

input {
	position: relative;
	background: transparent;
	border: 3px solid;
	color: beige;
	max-width: 100%;
	width: 70%;
	font-size: 120%;
	font-family: 'Roboto';
	margin-top: 1%;
	margin-bottom: 1%;
	min-height: 2%;
	border-radius: 2px;
}

form p.info {
	color: beige;
	font-family: 'Roboto';
	font-size: 200%;
	text-align: left;
	margin-left: 15%;
}

form {
	transition: 0.3s;
	border: 5px solid rgb(229, 82, 82);
	border-radius: 4px;
	padding: 2%;
	/*box-shadow: 0 10px 28px rgb(29, 22, 22), 0 10px 28px rgb(29, 22, 22);*/
	 box-shadow: 0 6px 8px #313131, 0 6px 7px black;
/*	transition: all 0.3s cubic-bezier(.46, .56, .21, 1.29);*/
}

form:hover {
	transition: 0.3s;
	/*box-shadow: 0px 10px 38px rgb(29, 22, 22), 0 10px 38px rgb(29, 22, 22);*/
	box-shadow: 0 19px 28px black, 0 15px 10px black;
}

td div.rlower {
	z-index: -5;
	background: black;
	opacity: 0.5;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	border: 1px solid black;
}

#powered {
	color: beige;
	font-family: 'Roboto';
	font-size: 120%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5%;
}

.reg_key {
	width: 33%;
	margin-left: 2%;
	margin-right: 2.5%;
}
div.sign p {
	float: left;
	padding: 5px;
	font-size: 
}

http://dbmast.ru/plavnoe-podchyorkivanie-ssylki-pri-navedenii